<div ng-controller="CTH.MediaContentUsageController" ng-model="media">

    <ul class="unstyled" ng-show="media.HasContentUsage">
        <li ng-repeat="node in media.Content">
            <i class="icon-umb-content"></i>
            <a href="#/content/content/edit/{{node.Id}}">{{node.Name}}</a> <small>{{node.Property}}</small>
        </li>
    </ul>

    <div ng-hide="media.HasContentUsage">
        No content found
    </div>

    <div ng-show="$scope.loading">
        Searching for content...
    </div>
    
</div>
